{% extends "템플릿.html" %}
{% block title %}개혁신당 - 정치인 여론 정보 사이트{% endblock %}
{% block content %}

<section class="featured">
  <div class="container">
    <div class="section-header">
      <h2>개혁신당</h2>
    </div>
    <div class="product-grid1">
      <div class="product-card">
        <div class="product-image">
          <img src="https://cdn.hkbs.co.kr/news/photo/202501/785078_518356_2133.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">이주영</h3>
        </div>
      </div>
      <div class="product-card">
        <div class="product-image">
          <img src="https://cdn.imweb.me/thumbnail/20240607/f137c4bfbfe3c.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">이준석</h3>
        </div>
      </div>
      <div class="product-card">
        <div class="product-image">
          <img src="https://pds.joongang.co.kr/news/component/htmlphoto_mmdata/202310/16/05ab7818-7f44-4479-bda0-992c26ddc600.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">천하람</h3>
        </div>

      </div>
      <div id="resultContainer" class="container" style="margin-bottom: 50px;"></div>
      <div id="pagination" style="margin:20px 0; text-align:center;"></div>

      <script>
  window.members = {{ members|tojson|safe }};
  // 값이 제대로 들어왔는지 확인
  console.log("window.members", window.members);
</script>
<script src="{{ url_for('static', filename='js/js.js') }}"></script>



</section>
{% endblock %}