{% extends "템플릿.html" %}
{% block title %}더불어민주당 - 정치인 여론 정보 사이트{% endblock %}
{% block content %}

<section class="featured">
  <div class="container">
    <div class="section-header">
      <h2>더불어민주당</h2>
    </div>
    <div class="product-grid1">
      <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/0410a0c8e24b474cac2fd79c7700ca2f.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">강득구</h3>
        </div>
      </div>
      <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/20176db75bd943df8714cc2d9a686ff7.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">강선우</h3>
        </div>
      </div>
      <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/14dff5a40ac54e5ab44839de11eb01b4.png" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">강유정</h3>
        </div>
      </div>
      <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/cf61b325757141748e07e055e1541468.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">강준현</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/ff6b82533b314e30a32cf9a8d82b11c3.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">강훈식</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/d0dbd25d7bc04abdbf2775200feacebb.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">고민정</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/6719771fc8dd4a80a824ac6716aa854b.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">곽상언</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/732a1459c8554b999d8c248d703d8fa2.png" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">권칠승</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/e25ff63bda9c446c81919549ba09c6c6.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">권향엽</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/c2640d735bdc4520ad3838183f97ad54.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">김교흥</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/3ce78ac9f853436f8cb5c01e08c567be.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">김기표</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/66bc8c4d4026465da6cfed67b0fbfe5e.png" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">김남근</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/42bdeca2bfe9430781fe748ae694988d.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">김남희</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/2aa44f38f64049829c3acf45b19aba20.png" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">김동아</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/01cf2f6720564fc99c3de46ac3d1e95b.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">김문수</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/fee10a80d81d435885696adb29a6eb41.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">김민석</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/c159f6cf2cdb4d418aeeb1849066a508.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">김병기</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/3d7108cf7a784f6ea042610f61c3e916.png" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">김병주</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/e6e84b1e51d84bbbbcdaaf0884838479.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">김상욱</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/6785f4855ad44486979a01c25c6939ca.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">김성환</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/b263e390ed2a4a4ea6e789d7447c6093.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">김성회</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/06249610045b4c5487f9586046460423.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">김승원</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/c0f3221352c04fc1bb9b67d8342c75ff.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">김영배</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/4a532fc2b0bf46fd81d7d51ea73c61be.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">김영진</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/3567968cbf624c2a93cc299e39bee78f.png" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">김영호</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/8d40913b87064f63bc8f988579103d76.png" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">김영환</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/06d58e54e7724b3a81f1a82eff0a40af.png" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">김용만</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/e8f8918e741b4ae9b72377d8ec299645.png" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">김용민</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/40b8f61bbb444b429d9fc87fe4dff506.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">김우영</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/dfa2409a04254cf0bdb4ad2f86092099.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">김원이</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/e7f6c2e0d06240658849cb82b2e5960e.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">김윤</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/dea1db9948874498ad1aa3a24c7409a3.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">김윤덕</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/7d6d00c690814834bdd1fb1c5905a5ef.png" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">김정호</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/a3a36296e15c4c2990676f4047e80a4b.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">김주영</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/d2a9aad5f1d849aa91699672ace4586f.JPG" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">김준혁</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/f8d696606fc742ec87659bd32ff95ae6.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">김태년</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/dad545c45b274b35bf2e336bee9b68ed.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">김태선</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/c5607570161f4879b98311c104e21485.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">김한규</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/1f184c9b9ef14a2b999ccf0c4fdd7870.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">김현</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/ae8a747324af42baac752128baa4b5bf.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">김현정</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/b265059dddd24f329d9361e3d0f62e4e.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">남인순</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/4abfcdd3a1e84d28901c894e8c1189fe.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">노종면</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/250f36e411ab4b34bf0eb7fcadfbadf7.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">맹성규</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/776af614628b4030a71734c4634c639e.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">모경종</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/e1710b2722c74ea79c98bdc53e0425ad.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">문금주</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/5c44086f31074ae99db902a7fcb4712a.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">문대림</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/20e051935a914f069c35c6e00dc22d70.png" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">문정복</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/81cfd832d09349ba95e28a111b700bfc.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">문진석</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/79413446d5564edd90faa2a1b279f9e8.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">민병덕</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/d8e518134ac540cc8f68fa4655e351df.png" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">민형배</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/1f07bdf68cd4426d9922e933e8647783.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">민홍철</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/1fc1ffba74a04538b306849f153a42dd.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">박균택</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/2c226f9600c64c52b8bfeee6b8f2eedd.png" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">박민규</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/7eee4819fa59498b8797a0551bec7056.png" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">박범계</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/963e0c49236e4f5a83fb777e6225456b.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">박상혁</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/107f88df05484eaeaf4fdcbb158b1221.png" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">박선원</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/519d508d60414f3bb2a4d8a578db1534.png" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">박성준</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/fce62d1303d84cbbb2a7bec9417b91ff.png" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">박수현</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/61ae3968052447c2b150bca49ff6aa7f.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">박용갑</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/152aafe19d524e949398c1807d54fc7a.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">박정</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/b04cd2781caa4dfab09e5cd6442c7774.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">박정현</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/4e926bae67ad43a6a87ad68da8d0c0fe.png" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">박주민</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/d56ba73af8fc481bbad0165c9ed6fbe2.png" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">박지원</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/232e4610e5ac40a19ad9402138d3c861.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">박지혜</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/df6098be66f542dea93990a7745f239c.png" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">박찬대</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/e05f6f3cbcab4c9aab8d0080cbbafb0f.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">박해철</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/a89c83870d3e4e9daba17c809e11ffd7.png" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">박홍근</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/cdaf530a93c04f1cb5cb4795fa2cdc5e.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">박홍배</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/bf9aa018b72e42a5a91c90fc4c70c626.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">박희승</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/82158c1c40eb4ce49cdcac02d8768457.png" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">백승아</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/968e99ee8f8b4b6e9d4ce7eb16a92864.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">백혜련</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/3ac9053137f440a69ea0aa559fa65933.png" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">복기왕</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/cad33fb09aa749e7961c0f67a6c6bbb9.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">부승찬</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/0694f551f21c40b2a4bbccd2e90ce40c.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">서미화</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/3733addd041f4802ade12300546171b1.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">서삼석</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/c061e90cf359465fa1408c443a4a7857.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">서영교</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/bdf94a0756144b4a9ff6e71eb8bed16e.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">서영석</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/a8512c3a87fe463c9d063ecb7a34680c.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">소병훈</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/e8f39b502c4f4c92924909bebebd123e.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">손명수</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/02f408aec61446c0b0459b5bdffa4893.png" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">송기헌</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/93e541edffd440d6b5ee9a683b5342ae.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">송옥주</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/1b5dc3ccbeee45bdb053ba17a4f11bb3.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">송재봉</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/b06af2e0eb5947e6ae7bb416bfb0b677.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">신영대</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/c5cd673d75bd44bc9a7ab580f39eb663.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">신정훈</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/2693865ca1a74cc2af5dc21a27502a30.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">안규백</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/56e742cc39304aad9ff06ad5490cc084.png" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">안도걸</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/0745032e5c7446fb83356bd42431f3a2.png" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">안태준</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/1fe2778d67b2471897c5cc387b440f78.png" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">안호영</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/d998c51131e74bd189b37209e57182f7.png" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">양문석</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/ad5f325b02c94cc6b30b15196c1ad19c.png" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">양부남</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/11132cfead5b4e7abbbf2021ab37033c.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">어기구</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/62507d5c8b1a48958d932ba76476a7a1.png" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">염태영</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/d1e20e55ce3d4ab3b4fce9b81cbf2989.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">오기형</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/f374af5fdfe546718cc68366865be7df.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">오세희</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/26841957c287473db75fad6182189804.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">위성곤</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/fa235af0e8f0474bac05ec0d186fabd4.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">위성락</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/a3a3255943634cd6ade1fa08d7e19144.png" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">유동수</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/86149364515f47e0a4b1cdeaec6f19ca.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">윤건영</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/5832f8756f2d42289e17a614cbf3728a.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">윤종군</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/8a8c40f46a47462ba0708e6c6ee8053f.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">윤준병</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/a474780e3fb144e18a389ec50b76f694.png" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">윤호중</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/15cc6211fcf0401ea3a77571f888838e.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">윤후덕</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/5bc4b439fc4146bf9014462d61d3625c.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">이강일</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/ece4aba7a7854848b574f9334278b58c.png" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">이개호</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/7355806cdad64eed8888ef6a17886585.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">이건태</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/15418961bc6146379f22d5d43443a1a3.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">이광희</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/d73911ce9f2247269b2f64c0c74c08d3.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">이기헌</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/75e68866e71a4147a8549f75e1bffb98.png" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">이병진</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/1e8f242b4d9043058290c44dc7f92160.png" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">이상식</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/31ee06a90e3e4064bc93690c998a9e78.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">이성윤</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/ecb476c1bd0747d8b310964db044aa9f.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">이소영</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/813a596915cc475d89c50722ce5764bc.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">이수진</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/42ba0380cb4b42e9aee97f945ba89dd1.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">이언주</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/2ec212451ed942b599bdb9d786e2fa17.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">이연희</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/79cbe48e3fa3484fa90f07d64d3f638b.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">이용선</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/25f7c40715b44561b1d8662afca0ed64.png" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">이용우</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/a5f99566188b43f090743efb17723e74.png" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">이원택</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/b84f1139ee484de5a94962ac9bcff09b.png" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">이인영</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/70bed9c0e202428fa3a36fb86c6d5398.png" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">이재강</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/441f4017e95540d88bb05df0b767e7cd.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">이재관</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/5818b9e7f28840b3a82ddb4c77a0be23.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">이재명</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/d2583bbfba324a87b5b0e112316e16b8.png" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">이재정</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/e9e80a7f853440fbae403bdc797d44fe.png" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">이정문</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/7c68150569c741f79fd55986f59991b1.png" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">이정헌</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/d4c21d5cd5284c7583908d8c7692aec6.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">이춘석</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/ef7ee584293c4134b263ebfc7cbf4a2d.png" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">이학영</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/931541823bd142f090e3b63461bbe976.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">이해식</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/ece0e563880b4537a847dd2a22a9a478.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">이훈기</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/2738058abca64c299bac3220864e4d70.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">임광현</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/7181892839544a728a62343111231bf7.png" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">임미애</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/ccf42d7a80b54c5f86bc3f9dcd544a99.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">임오경</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/0bb103b226db4ab6945d9108ccd4d72d.png" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">임호선</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/efaef493a77043fd87f6c3ef1077bafd.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">장경태</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/d8a1c67d7d8245e9bfe3cd037c809e49.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">장종태</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/e37f006d030a4d14b04f17a0de512540.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">장철민</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/7ebec69fa93042139121370390887458.png" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">전용기</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/98a995d70d4c4c7381d92d701f67ee97.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">전재수</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/96be0f17dc92446d9570067f9b664a5a.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">전진숙</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/4096501555d84d9bb2ac94a9597498a8.png" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">전현희</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/bb0a35a469a74d5a87def681be164353.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">정동영</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/9f5c026063fb44a6b8d81ccd0f9a7ac3.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">정성호</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/7a58cc1fd8ef499c82bb7bff4ac5fc2a.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">정을호</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/e1dca300e9d74ec0a5dfaca85efdfe61.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">정일영</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/6512064ea8134ead84f060a0dc3268e7.png" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">정준호</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/67b4125f7c1443eabf80267dcb82e2e9.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">정진욱</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/9f6decd03010411db7bf51e526fbf348.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">정청래</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/4102e3f5e32448a890f3f213bc0976ae.png" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">정태호</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/7b4eedcf7c2d4b9a8792f7ba5d0103a6.png" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">조계원</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/9e7bee59f70f453e9fad4939bd7f72c2.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">조승래</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/264a103fd8ca4218be7239d650d86011.png" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">조인철</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/340424a491b7497cbfee7a446cdcbaa3.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">조정식</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/7a6b0d6426f6474e9e2ec55ff6f18045.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">주철현</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/00320d16bed34a619ba08350b4e0de40.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">진선미</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/6b3400f4040e4d6bb354d1f758717055.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">진성준</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/8cc552a68fa24bdf9a8df0dcbd9b0311.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">차지호</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/8882bbc77730433ab09ebfec08f32bb8.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">채현일</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/1ecd18672c604ef5a6c90dd06133006e.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">천준호</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/d1a177cb53a84663853ccaba458d0fcd.PNG" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">최기상</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/0797d25588a14280a94de3bbe12ca8eb.png" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">최민희</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/32d2f7972ee74ef08f87e39f7e0db0e7.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">추미애</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/005a3d5dd9ea4299a1d3e4c457395e9a.png" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">한민수</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/a7695c6d5955474aa1962ffcaabcf804.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">한병도</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/7b04f535d62d401da2af886555ee4e4f.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">한정애</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/b5057465eeae44a38be3efb878ac21aa.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">한준호</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/f7e7a709f5454ca7b4c838506b1e004f.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">허성무</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/52e5baf2188242e8b7688e9ca3748bab.png" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">허영</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/339cde11231c491fa74e47d685b0dbc4.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">허종식</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/5bc90241361f4d89b8c647297d88f394.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">홍기원</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/1656aae7b6f041d292ed503036fe0071.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">황명선</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/3fb9d9e029ee438c9ad6c9050c36feee.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">황정아</h3>
        </div>
       </div>
       <div class="product-card">
        <div class="product-image">
          <img src="https://www.assembly.go.kr/static/portal/img/openassm/new/thumb/99e78cb9dfd447fb8ef4bb0dfb51b79c.jpg" alt="사진" />
        </div>
        <div class="product-info">
          <h3 class="product-title">황희</h3>
        </div>
       </div>

    </div>  
 <div id="resultContainer" class="container" style="margin-bottom: 50px;"></div>
 <div id="pagination" style="margin:20px 0; text-align:center;"></div>

 <script>
  window.members = {{ members|tojson|safe }};
  // 값이 제대로 들어왔는지 확인
  console.log("window.members", window.members);
</script>
<script src="{{ url_for('static', filename='js/js.js') }}"></script>


</section>
{% endblock %}